.about-page {
  min-width: 312px;
  max-width: 413px;
  margin: 0 auto;
  padding: 20px 20px 140px;
  &__back-btn {
    display: flex;
    align-items: center;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 25px 0 0 54px;
    color: #000000;
    background-color: transparent;
    & svg {
      margin-right: 12px;
      &:hover {
        transform: translateX(-5px);
        transition: all 250ms ease;
      }
    }
  }
  &__name {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 30px 0 34px;
    color: #081f32;
  }
  &__avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 5px solid #f2f2f7;
    border-radius: 150px;
    &_img {
      border-radius: 150px;
    }
  }
}

.information {
  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
    color: #8e8e93;
  }
  &__item {
    list-style: none;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
    padding: 9px 0 12px 0;
    margin-left: 16px;
    &_title {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #081f32;
    }
    &_text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: #6e798c;
    }
  }
}

@media (575px <= width <= 991px) {
  .about-page {
    &__avatar {
      width: 200px;
      height: 200px;
    }
  }
}

@media (992px <= width) {
  .about-page {
    &__avatar {
      width: 300px;
      height: 300px;
    }
    &__name {
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      margin: 16px 0 48px;
    }
  }

  .information {
    &__text {
      text-align: center;
    }
    &__list {
      width: 413px;
    }
  }
}
